# SPDX-License-Identifier: Apache-2.0

[Desktop Entry]
Type=Application
Name=ImgConvert
Comment=Batch image conversion tool
Exec=imgconvert
Icon=io.github.yeagoo.imgconvert
Terminal=false
Categories=Graphics;Photography;
